# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/

# Asset meta data
!/[Aa]ssets/**/*.meta

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# Unity3D generated
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Gradle
.gradle/
